@import url("https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Radley&display=swap");
html,body{
    margin: 0;
    padding: 0;
    font-family: "Radley", serif;
}
h3{
    font-family: 'Cherry Swash', cursive;
    color: #8F249E;
    font-size: 20px;
}
form{
    text-align: center;
    height: auto;
    width: auto;
}
.container-connexion{
    height: 570px;
    width: 500px;
    margin: auto;
    border-radius: 20px;
    border: solid 3px #8F249E ;
}
.connexion{
    margin: 30px;
}

.connexion input{
    height: auto;
    border: none;
    font-size: 20px;
    width: 30vh;
}
hr{
    height: auto;
    width: 50%;
    color: #8F249E;
}
#envoyer{
    background-color: #8F249E;
    border: #8F249E;
    border-radius: 10px;
    width: 20vh;
    height: 60px;
    position: relative;
    top: -30px;
    font-size: 20px;
    color: white;
}
.container-href{
    background-color: #8F249E;
    border: #8F249E;
    border-radius: 10px;
    width: 20vh;
    height: 40px;
    margin: auto;
    padding-top: 10px;
}

.redirection{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
@media (max-width : 900px) {
    .container-connexion{
    width: 80%;
    height: auto;
    }
    .connexion input{
        width: 50%;
        height: 40px;
        font-size: 15px;
    }
    .connexion{
        margin: 30px;
    }
}